$darkmode:#000;
$lightmode:#fff;
$border_color:#2f3336;
$button_color:#1da1f2;
$gray_color:#6e767d;
$gray_color1:#4e555a;
//#71767b
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  outline: 0;
  border: none;
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
html,
body{
  height: 100%;
  background-color: $darkmode;
}
#root{
  display: flex;
  height: 100%;
  align-items: center;
}
.tweet-settings{
  flex:1;
  color:$lightmode;
  border-right: 1px solid $border_color;
  height: 100%;
  padding: 25px;
  overflow: auto;
  h3{
    font-size: 24px;
    font-weight: normal;
    border-bottom: 1px solid $border_color;
    padding-bottom:20px;
    margin-bottom: 20px;
  }
  ul{
    li:not(:last-child){
      margin-bottom:20px ;
    }
  }
  label {
    font-size: 15px;
    margin-bottom: 5px;
    display: block;
    color: $gray_color;
  }
  .input{
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid $border_color;
    color: $lightmode;
    padding: 10px 0 15px ;
    font-size: 15px;
    &::placeholder{
      color: $lightmode;
 
   
    }
    &:focus{
      border-color:$gray_color1 ;
    }
  }
  select{
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid $border_color;
    color: $lightmode;
    padding: 10px 0 15px ;
    font-size: 15px;
    option{
      color: #111;
    }
    &::placeholder{
      color: $lightmode;   
    }
    &:focus{
      border-color:$gray_color1 ;
    }
  }
  button{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    color: $lightmode;
    font-size: 16px;
    background-color: $button_color;
    cursor: pointer;
  }
  textarea{
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid $border_color;
    color: $lightmode;
    padding: 10px 0 15px ;
    font-size: 15px;
    line-height: 1.5;
    resize: none;
    &::placeholder{
      color: $lightmode;

   
    }
    &:focus{
      border-color:$gray_color1 ;
    }
  }
  .download-url{
    display: none;
  }
}
.tweet-container{
position: relative;
height: 100%;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;

  padding: 0 50px;
  .app-language{
    margin-bottom: 15px;
    color: rgba($lightmode,0.5);
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 0;
left:0;
width: 100%;
padding: 10px 0;
    span{
      margin:0 15px;
      cursor: pointer;
      transition: .5s;
      &.active{
        color: $lightmode;
      }
    }
  }
  .fetch-info{
    margin-bottom: 30px;
    width:100%;
    display: flex;
    input{
      flex: 1;
      background-color: $border_color;
      height: 40px;
      line-height: 40px;
      border-radius: 3px 0 0 3px;
      color: $lightmode;
      padding: 0 15px;
      font-size: 15px;
    }
    button{
      height: 40px;
      padding: 0 20px;
      font-size: 15px;
      color: $lightmode;
      background-color: $button_color;
      border-radius: 0 3px 3px 0 ;
    }
  }
}
.tweet{
  border: 1px solid $border_color;
  width: 600px;
  margin: 25px auto;
  padding: 0 16px;
  background-color: $darkmode;
  &-author{
    height: 48px;
    margin-top: 12px;
    display: flex;
    align-items: center ;
    margin-bottom: 4px;
    font-size: 15px;
    img{
      width: 48px;
      height: 48px;
      margin-right: 12px;
      border-radius: 50%;

    }
    .name{
      
      color: $lightmode;
      font-weight: 700;
      display: flex;
      align-items: center;
      height: 19px;
      svg{
        margin-left: 3px;
      }
    }
    .username{
      color: $gray_color;
    }
  }
  &-content{
    padding: 12px 0;
    p{
      font-size: 23px;
      line-height: 28px;
      color: $lightmode;
      overflow: hidden;
      span{
        color: $button_color;
      }
    }
  }
  &-date{
  padding:12px 0 ;
  span{
    font-size: 14px;
    color:#71767b;
  }
  }
  &-stats{
    height: 53px;
    display: flex;
   border-top: 1px solid $border_color;
    align-items: center;
    font-size: 15px;
    color: $gray_color;
    b{
      color: $lightmode;
    }
    span:not(:last-child){
      margin-right: 20px;

    }
  }
  &-actions{
    height: 48px;
    display: flex;
    border-top: 1px solid $border_color;
    align-items: center;
    justify-content: space-around;
  }
}
